# Ignore Play! working directory #
/sample/bin/
/db
.eclipse
/lib/
/sample/logs/
/project/project
/project/target
/target
/sample/target
/module/target
/sample/tmp/
test-result
server.pid
*.eml
/sample/dist/
.cache
/.idea/
/out/
