sudo: false

language: scala

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean test

scala:
- 2.11.8
- 2.10.6

jdk:
- oraclejdk8

cache:
  directories:
    - $HOME/.ivy2/cache/
    - $HOME/.sbt/boot/

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" -delete
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
